<!--<nav>-->
<!--    <div class=" nav">-->
<!--        <a href="#" data-target="mobile-demo" class=""><i class="material-icons"></i></a>-->
<!--        <ul class="right hide-on-med-and-down">-->
<!--            <li><a href="/">Home</a></li>-->
<!--            {% if user.is_authenticated %}-->
<!--            <li><a href="/post">POST</a></li>-->
<!--            <li><a href="/logout">Logout</a></li>-->
<!--            {% else %}-->
<!--            <li><a href="/register">Register</a></li>-->
<!--            <li><a href="/login">Login</a></li>-->
<!--            {% endif %}-->
<!--        </ul>-->
<!--    </div>-->
<!--</nav>-->

<!--<ul class="sidenav" id="mobile-demo">-->
<!--    <li><a href="/">Home</a></li>-->
<!--    {% if user.is_authenticated %}-->
<!--    <li><a href="/post">POST</a></li>-->
<!--    <li><a href="/logout">Logout</a></li>-->
<!--    {% else %}-->
<!--    <li><a href="/register">Register</a></li>-->
<!--    <li><a href="/login">Login</a></li>-->
<!--    {% endif %}-->
<!--</ul>-->

<div class="">
<nav class="navbar navbar-expand-md navbar-dark navbar-static-top bg-dark">
    <a class="navbar-brand" href="/">Post It!</a>
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-lnk" href="/">Home</a>
        </li>{% if user.is_authenticated %}
        <li class="nav-item">
            <li><a class="nav-link " href="/profile">{{user.username}}</a></li>

            <li><a class="nav-link " href="/post">POST</a></li>
        </li> <li class="nav-item">
          <li><a class="nav-link " href="/logout">Logout</a></li>
        </li>
          {% else %}


        <li class="nav-item">
          <a class="nav-link " href="/register">Register</a>

        </li>
          <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
          </li>
      </ul>
  {% endif %}
    </div>
  </nav>
    </div>